In [ ]:
%LOAD firebird service=firebird.fdb user=SYSDBA

In [ ]:
INSERT INTO STUDENT VALUES (1, 'Angelo')

In [ ]:
INSERT INTO STUDENT VALUES (2, 'Barbara')

In [ ]:
INSERT INTO STUDENT VALUES (3, 'Dandelion')

In [ ]:
SELECT * FROM STUDENT